<h2><%= @outing.event %></h2>
<p><h3>Location: <%= @outing.location %></h3>
<p><h3>Date: <%= @outing.date %></h3>
<p><h3>Count of Contestants: <%= @outing.contestant_count %></h3>

<p><h3>Contestants:</h3>

<% @contestants.each do |contestant| %>
  <section id=<%= "contestant-#{contestant.id}" %>>
    <ul><%= contestant.name %>
      <%= button_to "Remove",  "/contestant_outings/delete/#{contestant.id}/#{@outing.id}" %>
  </section>
<% end %>